<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<mat-nav-list appAccordion>
  <mat-list-item *ngFor="let menuitem of menuItems.getMenuitem()" appAccordionLink group="{{menuitem.state}}"
                 routerLinkActive="selected">
    <a (click)="setTitrePage(menuitem.name)" *ngIf="menuitem.type === 'intern_link'"
       [routerLink]="['/', menuitem.state]" appAccordionToggle class="">
      <img src="{{ menuitem.icon }}" style="width: 20px; margin: 10px;">
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
    </a>
    <mat-nav-list style="padding-left: 20px;">
      <mat-list-item *ngFor="let subItem of menuitem.subItems" appAccordionLink group="{{subItem.state}}"
                     routerLinkActive="selected" style="padding-bottom: 8px;">
        <a (click)="setTitrePage(subItem.name)" *ngIf="subItem.type === 'intern_link'"
           [routerLink]="['/', subItem.state]" appAccordionToggle class="">
          <img src="{{ subItem.icon }}" style="width: 20px; margin: 10px;">
          <span>{{ subItem.name }}</span>
          <span fxFlex></span>
          <span *ngFor="let badge of subItem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-list-item>

  <mat-card>
    <mat-card-actions style="display: flex; text-align: center;">
      <a href="https://github.com/CovidModelizer">
        <img src="assets/images/github.png" style="margin-left: 30px;"/>
      </a>
      <a href="https://www.gouvernement.fr/info-coronavirus" target="_blank">
        <img src="assets/images/qr-code.png" style="width: 50px;margin-left: 30px;"/>
      </a>
    </mat-card-actions>
  </mat-card>
</mat-nav-list>
