<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<mat-nav-list appAccordion>
  <mat-list-item *ngFor="let menuitem of menuItems.getMenuitem()" appAccordionLink group="{{menuitem.state}}"
                 routerLinkActive="selected">
    <a (click)="setTitrePage(menuitem.name)" *ngIf="menuitem.type === 'link'" [queryParams]="{modele: menuitem.params}" [routerLink]="['/', menuitem.state]" appAccordionToggle
       class="">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
    </a>
  </mat-list-item>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Contributeurs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Abdel Benamara</p>
      <p>David Ekchajzer</p>
      <p>Mathieu Ridet</p>
      <p>Sophia Yalap</p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/mathieuridet/CovidModelizer_Front">
        <img align="center" border="0" src="assets/images/github.png"/>
      </a>
      <a href="https://google.com" target="_blank">
        <img align="center" border="0" style="width: 50px;" src="assets/images/qr-code.png"/>
      </a>
    </mat-card-actions>
  </mat-card>
</mat-nav-list>
