.btn-space {
    margin-right: 10px;
    background-color : rgb(194, 194, 194);
}

.result{
    display: inline-block;
    color:white;
    border-radius: 10px;
    margin : 2%;
    margin-left : 11%;
}


.result1{
    font-size: 20px;
    padding : 20px;
}


.result2{
    font-size: 20px;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-right : 40px;
    padding-left : 40px;
}

.result3{
    font-size: 20px;
    padding : 20px;
}

.com{
    font-size : 15px;
    font-weight: bold;
    text-align : center;
}
