.btn-space {
    margin-right: 10px;
    background-color : rgb(194, 194, 194);
}

.result{
    background-color : #b92e2e;
    float:left;
    margin-right: 50px;
    color:white;
    border-radius: 10px;
    margin-left : 80px;
}


.result1{
    padding : 40px;
    font-size: 20px;
}


.result2{
    padding-top : 40px;
    padding-bottom : 40px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
}

.result3{
    padding-top : 40px;
    padding-bottom : 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

.com{
    font-size : 15px;
    font-weight: bold;
    margin-left : 18px;
    /*text-align : center;*/
}

