<form>
    <div id="age_form">
        <h3>age</h3>
        <label for="moins18">Moins de 18 ans</label>
        <input type="radio" id="moins18" name="age" value="moins18" [ngModel]="age">
        <br>
        <label for="entre18et49">Entre 18 et 49 ans</label>
        <input type="radio" id="entre18et49" name="age" value="entre18et49" [ngModel]="age">
        <br>
        <label for="entre50et54">Entre 50 et 54 ans</label>
        <input type="radio" id="entre50et54" name="age" value="entre50et54" [ngModel]="age">
        <br>
        <label for="entre55et69">Entre 55 et 69 ans</label>
        <input type="radio" id="entre55et69" name="age" value="entre55et69" [ngModel]="age">
        <br>
        <label for="plus70">Plus de 70 ans</label>
        <input type="radio" id="plus70" name="age" value="plus70" [ngModel]="age">
    </div>
    <br>
    <div id="Enceinte">
        <h3>Êtes vous enceinte ?</h3>
        <label for="moins18">Oui</label>
        <input type="radio" id="oui" name="Enceinte" value="oui">
        <br>
        <label for="entre18et49">Non</label>
        <input type="radio" id="non" name="Enceinte" value="non">
        <br>
    </div>
    <br>
    <div id="Pro">
        <h3>Êtes vous un proffessionnel de santé, personnel d'un établissement médico-social, pompier ou aide à domicile ?</h3>
        <label for="moins18">Oui</label>
        <input type="radio" id="oui" name="Pro" value="oui">
        <br>
        <label for="entre18et49">Non</label>
        <input type="radio" id="non" name="Pro" value="non">
        <br>
    </div>
    <br>
    <div id="Risque">
        <h3>Présentez-vous <a target="_blank" href="https://solidarites-sante.gouv.fr/IMG/pdf/liste_maladies_rares_cosv_fmr-2.pdf">une pathologie conduisant à un risque de forme grave</a> ?</h3>
        <label for="moins18">Oui</label>
        <input type="radio" id="oui" name="Risque" value="oui">
        <br>
        <label for="entre18et49">Non</label>
        <input type="radio" id="non" name="Risque" value="non">
        <br>
    </div>
</form>

<div id="results">
    <div id="Pfizer-BioNTech" class="result">
        <h3>Pfizer-BioNTech</h3>
        <span id="text-pfizer">-</span>
    </div>

    <div id="Moderna" class="result">
        <h3>Moderna</h3>
        <span>-</span>
    </div>

    <div id="AstraZeneca" class="result">
        <h3>AstraZeneca</h3>
        <span>-</span>
    </div>
</div>