<!--<mat-card>
    <mat-card-content>
        <form>
            <div id="age_form">
                <h3>Veuillez indiquer votre âge</h3>
                <button type="button" class="btn btn-outline-primary" id="moins18" name="age" value="moins18" (click)="estEligible('moins18','', '', '')">Moins de 18 ans</button>
                <button type="button" class="btn btn-outline-primary" id="entre18et49" name="age" value="entre18et49" (click)="estEligible('entre18et49','', '', '')">Entre 18 et 49 ans</button>
                <button type="button" class="btn btn-outline-primary" id="entre50et54" name="age" value="entre50et54" (click)="estEligible('entre50et54','', '', '')">Entre 50 et 54 ans</button>
                <button type="button" class="btn btn-outline-primary" id="entre55et69" name="age" value="entre55et69" (click)="estEligible('entre55et69','', '', '')">Entre 55 et 69 ans</button>
                <button type="button" class="btn btn-outline-primary" id="plus70" name="age" value="plus70" (click)="estEligible('plus70','', '', '')">Plus de 70 ans</button>
            </div>
            <br>

            <div id="enceinte_form" *ngIf="age === 'entre18et49'">
                <h3>Êtes vous enceinte ?</h3>
                <button type="button" class="btn btn-outline-primary" id="oui" name="enceinte" value="oui" (click)="estEligible('','oui','', '')">Oui</button>
                <button type="button" class="btn btn-outline-primary" id="non" name="enceinte" value="non" (click)="estEligible('','non','', '')">Non</button>
            </div>
            <br>

            <div id="pro_form" *ngIf="displayProForm()">
                <h3>Êtes vous un professionnel de santé, personnel d'un établissement médico-social, pompier ou aide à domicile ?</h3>
                <button type="button" class="btn btn-outline-primary" id="oui" name="pro" value="oui" (click)="estEligible('','','oui', '')">Oui</button>
                <button type="button" class="btn btn-outline-primary" id="non" name="pro" value="non" (click)="estEligible('','','non', '')">Non</button>
            </div>
            <br>
            <div id="malade_form" *ngIf="displayMaladeForm()">
                <h3>Présentez-vous <a target="_blank" href="https://solidarites-sante.gouv.fr/IMG/pdf/liste_maladies_rares_cosv_fmr-2.pdf">une pathologie conduisant à un risque de forme grave</a> ?</h3>
                <button type="button" class="btn btn-outline-primary" id="oui" name="malade" value="oui" (click)="estEligible('','','', 'oui')">Oui</button>
                <button type="button" class="btn btn-outline-primary" id="non" name="malade" value="non" (click)="estEligible('','','', 'non')">Non</button>
            </div>

        </form>

        <div id="results" *ngIf="displayResult() === true">
                <div id="Pfizer-BioNTech" class="result">
                    <h3>Pfizer-BioNTech</h3>
                    <span id="text-pfizer">-</span>
                </div>
    
                <div id="Moderna" class="result">
                    <h3>Moderna</h3>
                    <span>-</span>
                </div>
    
                <div id="AstraZeneca" class="result">
                    <h3>AstraZeneca</h3>
                    <span>-</span>
                </div>
    
        </div>
    </mat-card-content>
</mat-card>
-->
<mat-card>
    <mat-card-content>
        <p class="intro">Ce questionnaire est un formulaire d'éligibilité vaccinale. Il tient compte de votre profil et votre situation personnelle pour déterminer votre niveau d'éligibilité à recevoir le vaccin de la COVID-19. Le résultat de ce formulaire est conforme à la stratégie vaccinale du Gouvernement.</p>
        <p class="intro">Aucune de vos données ne sont enregistrées dans notre système.</p> 
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <form>
            <div id="age_form">
                <h3>Veuillez indiquer votre âge</h3>
                <button type="button" class="btn btn-space" id="moins18" name="age" value="moins18" (click)="estEligible('moins18','', '', '')">Moins de 18 ans</button>
                <button type="button" class="btn btn-space" id="entre18et49" name="age" value="entre18et49" (click)="estEligible('entre18et49','', '', '')">Entre 18 et 49 ans</button>
                <button type="button" class="btn btn-space" id="entre50et54" name="age" value="entre50et54" (click)="estEligible('entre50et54','', '', '')">Entre 50 et 54 ans</button>
                <button type="button" class="btn btn-space" id="entre55et69" name="age" value="entre55et69" (click)="estEligible('entre55et69','', '', '')">Entre 55 et 69 ans</button>
                <button type="button" class="btn btn-space" id="plus70" name="age" value="plus70" (click)="estEligible('plus70','', '', '')">Plus de 70 ans</button>
            </div>
            <br>

            <div id="enceinte_form" *ngIf="age === 'entre18et49'">
                <hr>
                <h3>Êtes vous enceinte ?</h3>
                <button type="button" class="btn btn-space" id="oui" name="enceinte" value="oui" (click)="estEligible('','oui','', '')">Oui</button>
                <button type="button" class="btn btn-space" id="non" name="enceinte" value="non" (click)="estEligible('','non','', '')">Non</button>
            </div>
            <br>

            <div id="pro_form" *ngIf="displayProForm()">
            <hr>
                <h3>Êtes vous un professionnel de santé, personnel d'un établissement médico-social, pompier ou aide à domicile ?</h3>
                <button type="button" class="btn btn-space" id="oui" name="pro" value="oui" (click)="estEligible('','','oui', '')">Oui</button>
                <button type="button" class="btn btn-space" id="non" name="pro" value="non" (click)="estEligible('','','non', '')">Non</button>
            </div>
            <br>

            <div id="malade_form" *ngIf="displayMaladeForm()">
            <hr>
                <h3>Présentez-vous <a target="_blank" href="https://solidarites-sante.gouv.fr/IMG/pdf/liste_maladies_rares_cosv_fmr-2.pdf">une pathologie conduisant à un risque de forme grave</a> ?</h3>
                <button type="button" class="btn btn-space" id="oui" name="malade" value="oui" (click)="estEligible('','','', 'oui')">Oui</button>
                <button type="button" class="btn btn-space" id="non" name="malade" value="non" (click)="estEligible('','','', 'non')">Non</button>
            </div>

        </form>
        
    </mat-card-content>
</mat-card>

<div id="results" *ngIf="displayResult() === true">
    <p class="com">{{commentaire1}}</p>
    <p>         </p>
    <p class="com">{{datePossibleVaccination}}</p>
    <div id="Pfizer-BioNTech" class="result">
        <div class="result1" [ngStyle]="{'background-color' : colorPfizer, 'border-radius' : '10px'}">Pfizer-BioNTech</div>
    </div>

    <div id="Moderna" class="result">
        <div class="result2" [ngStyle]="{'background-color' : colorModerna, 'border-radius' : '10px'}">Moderna</div>
    </div>

    <div id="AstraZeneca" class="result">
        <div class="result3" [ngStyle]="{'background-color' : colorAstrazeneca, 'border-radius' : '10px'}">AstraZeneca</div>
    </div>
</div>