<mat-card>
  <mat-card-content>
    <p class="text">Ce questionnaire est un formulaire d'éligibilité vaccinale. Il tient compte de votre profil et
      de votre situation personnelle pour déterminer votre niveau d'éligibilité à recevoir les vaccins contre la
      COVID-19. Le résultat de ce formulaire est conforme à la stratégie vaccinale du Gouvernement.</p>
    <p class="text">Aucune donnée personnelle n'est enregistrée dans notre système.</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <form>
      <div id="age_form">
        <h3>Veuillez indiquer votre âge</h3>
        <button (click)="estEligible('0à11ans','', '', '')" class="btn btn-space" id="moins18" name="age" type="button"
                value="moins18">O à 11 ans
        </button>
        <button (click)="estEligible('12à17ans','', '', '')" class="btn btn-space" id="entre18et49" name="age"
                type="button"
                value="entre18et49">12 à 17 ans
        </button>
        <button (click)="estEligible('18à54ans','', '', '')" class="btn btn-space" id="entre50et54" name="age"
                type="button"
                value="entre50et54">18 à 54 ans
        </button>
        <button (click)="estEligible('55ansEtPlus','', '', '')" class="btn btn-space" id="entre55et69" name="age"
                type="button"
                value="entre55et69">55 et plus
        </button>
      </div>

      <div *ngIf="age !== '' && age !== '0à11ans'" id="enceinte_form">
        <br>
        <hr>
        <h3>Êtes-vous enceinte ?</h3>
        <button (click)="estEligible('','oui','', '')" class="btn btn-space" id="oui-enceinte"
                name="enceinte" type="button" value="oui">Oui
        </button>
        <button (click)="estEligible('','non','', '')" class="btn btn-space" id="non-enceinte"
                name="enceinte" type="button" value="non">Non
        </button>
      </div>

      <div *ngIf="displayProForm()" id="pro_form">
        <br>
        <hr>
        <h3>Êtes-vous un professionnel de santé, personnel d'un établissement médico-social, pompier ou aide à
          domicile ?</h3>
        <button (click)="estEligible('','','oui', '')" class="btn btn-space" id="oui-pro"
                name="pro" type="button" value="oui">Oui
        </button>
        <button (click)="estEligible('','','non', '')" class="btn btn-space" id="non-pro"
                name="pro" type="button" value="non">Non
        </button>
      </div>

      <div *ngIf="displayMaladeForm()" id="malade_form">
        <br>
        <hr>
        <h3>Présentez-vous <a href="https://solidarites-sante.gouv.fr/IMG/pdf/liste_maladies_rares_cosv_fmr-2.pdf"
                              target="_blank">une pathologie conduisant à un risque de forme grave</a> ?
        </h3>
        <button (click)="estEligible('','','', 'oui')" class="btn btn-space" id="oui-malade"
                name="malade" type="button" value="oui">Oui
        </button>
        <button (click)="estEligible('','','', 'non')" class="btn btn-space" id="non-malade"
                name="malade" type="button" value="non">Non
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<div *ngIf="displayResult() === true" id="results">
  <p class="com">{{commentaire1}}</p>
  <p class="com">{{datePossibleVaccination}}</p>
  <div class="result">
    <div id="Pfizer-BioNTech">
      <div [ngStyle]="{'background-color' : colorPfizer, 'border-radius' : '10px'}" class="result1">
        Pfizer-BioNTech
      </div>
    </div>
    <div id="Moderna">
      <div [ngStyle]="{'background-color' : colorModerna, 'border-radius' : '10px'}" class="result2">
        Moderna
      </div>
    </div>
    <div id="AstraZeneca">
      <div [ngStyle]="{'background-color' : colorAstrazeneca, 'border-radius' : '10px'}" class="result3">
        AstraZeneca
      </div>
    </div>
    <div id="Janssen">
      <div [ngStyle]="{'background-color' : colorJanssen, 'border-radius' : '10px'}" class="result4">
        Janssen
      </div>
    </div>
  </div>
</div>
