<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button *ngIf="titrePage==='Vaccinations' || titrePage==='Infections'" [matMenuTriggerFor]="modeles"
  class="btn btn-default btn-sm selectModel">
  <span style="color: white;" class="glyphicon glyphicon-chevron-down"></span>
  {{labelModel}}
</button>
<mat-menu #modeles="matMenu" class="mymegamenu">
  <button (click)="setLabelModel('Modèle Linéaire')" [queryParams]="{ modele: '' }" [routerLink]="path_modelisations"
    mat-menu-item>
    Modèle Linéaire
  </button>
  <button *ngIf="path_modelisations==='infections'" (click)="setLabelModel('Modèle SIR')"
    [queryParams]="{ modele: 'sir' }" [routerLink]="path_modelisations" mat-menu-item>
    Modèle SIR
  </button>
  <button *ngIf="path_modelisations==='vaccinations'" (click)="setLabelModel('Modèle SVIR')"
    [queryParams]="{ modele: 'svir' }" [routerLink]="path_modelisations" mat-menu-item>
    Modèle SVIR
  </button>
  <button (click)="setLabelModel('Modèle Machine Learning')" [queryParams]="{ modele: 'ml' }"
    [routerLink]="path_modelisations" mat-menu-item>Modèle
    Machine Learning
  </button>
</mat-menu>