<mat-card *ngIf="categorie==='infection'">
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Données clefs</mat-card-title>
        <mat-card-subtitle>Prédictions</mat-card-subtitle>
      </div>
    </div>

    <div class="m-t-30" fxLayout="row" fxLayoutWrap="wrap">
      <div class="datesClesEstimees" class="l1" fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%">
        <h3 class="m-0 font-medium">+ {{ nbCasJ21 }}</h3>
        <p class="legende">Nouvelles infections J+21</p>
      </div>
      <div class="datesClesEstimees" class="l1" fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%">
        <h3 class="m-0 font-medium">{{isConfinement()}}</h3>
        <p class="legende">Confinement prévu</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Modélisation du nombre de nouvelles {{ categorie }}s quotidiennes</mat-card-title>
        <mat-card-subtitle>{{ titreGraphe }}</mat-card-subtitle>
      </div>
    </div>
    <div class="chart-wrapper">
      <canvas [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels" [legend]="chartLegend"
              [options]="chartOptions"
              baseChart>
      </canvas>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="categorie === 'infection'">
  <mat-card-content>
    <h3>Modélisation Machine Learning</h3>
    <p class="text">Le modèle de Machine Learning utilisé ici est un modèle de régression linéaire basé sur les 13
      variables suivantes : </p>
    <ul class="text">
      <li><span class="text variable">x1</span> : le nombre de décès quotidiens</li>
      <li><span class="text variable">x2</span> : le nombre de guérisons quotidiennes</li>
      <li><span class="text variable">x3</span> : le nombre de décès quotidiens en Ehpad</li>
      <li><span class="text variable">x4</span> : le total de personnes en réanimation</li>
      <li><span class="text variable">x5</span> : le nombre de nouvelles infections confirmées</li>
      <li><span class="text variable">x6</span> : le total de personnes hospitalisées</li>
      <li><span class="text variable">x7</span> : le nombre de dépistage de la COVID-19 réalisés quotidiennement</li>
      <li><span class="text variable">x8</span> : le nombre de dépistage de la COVID-19 positifs quotidiennement</li>
      <li><span class="text variable">x9</span> : le nombre de nouvelles infections confirmées en Ehpad</li>
      <li><span class="text variable">x10</span> : le nombre d'entrées quotidiennes en réanimation</li>
      <li><span class="text variable">x11</span> : le nombre de nouvelles hospitalisations quotidiennes</li>
      <li><span class="text variable">x12</span> : le nombre de nouvelles premières injections de vaccin contre la
        COVID-19
      </li>
      <li><span class="text variable">x13</span> : le dernier taux de reproduction du virus en date (aussi appelé <span
        class="text variable">r0</span>)
      </li>
    </ul>
    <br>
    <p class="text">Ce modèle nous permet de prédire le nombre de personnes qui seront quotidiennement testées positives
      à la COVID-19 dans les jours à venir.</p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="categorie === 'vaccination'">
  <mat-card-content>
    <h3>Modélisation Machine Learning</h3>
    <p class="text">Le modèle de Machine Learning utilisé ici est un modèle de régression linéaire basé sur les 11
      variables suivantes : </p>
    <ul class="text">
      <li><span class="text variable">x1</span> : le stock du nombre total de doses de vaccin</li>
      <li><span class="text variable">x2</span> : le stock du nombre de doses de vaccin Pfizer-BioNTech</li>
      <li><span class="text variable">x3</span> : le stock du nombre de doses de vaccin Moderna</li>
      <li><span class="text variable">x4</span> : le stock du nombre de doses de vaccin Pfizer-BioNTech réservé aux
        Ehpad
      </li>
      <li><span class="text variable">x5</span> : le nombre de nouvelles premières injections de vaccin</li>
      <li><span class="text variable">x6</span> : le total de prises de rendez-vous hebdomadaire pour vaccination</li>
      <li><span class="text variable">x7</span> : le nombre de prises de rendez-vous hebdomadaire pour injection de rang
        1
      </li>
      <li><span class="text variable">x8</span> : le nombre de prises de rendez-vous hebdomadaire pour injection de rang
        2
      </li>
      <li><span class="text variable">x9</span> : le nombre total de livraisons hebdomadaires de doses de vaccin</li>
      <li><span class="text variable">x10</span> : le nombre de livraisons hebdomadaires de doses de vaccin
        Pfizer-BioNTech
      </li>
      <li><span class="text variable">x11</span> : le nombre de livraisons hebdomadaires de doses de vaccin Moderna</li>
    </ul>
    <br>
    <p class="text">Ce modèle nous permet de prédire le nombre de premières doses qui seront injectées quotidiennement
      dans les jours à venir.</p>
  </mat-card-content>
</mat-card>
