<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Dates clés</mat-card-title>
        <mat-card-subtitle>Dates estimées par le modèle linéaire de prévisions</mat-card-subtitle>
      </div>
    </div>

    <div class="m-t-30" fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%">
        <h3 class="m-0 font-light">?</h3>
        <small>Confinement</small>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%">
        <h3 class="m-0 font-light">?</h3>
        <small>Immunité collective</small>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Temporalité</mat-card-title>
        <mat-card-subtitle>{{ titreGraphe }}</mat-card-subtitle>
      </div>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="chartLegend"
              [chartType]="chartType">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
