<a  (click)="goTo('infections')">
    <mat-card class="cardElement">
    <mat-card-content>
        <h3 class="titre">Modélisation des infections</h3>
        <img class="arrow" src="assets/images/right-chevron.png/">
        <p class="text" classe="content">Nous nous intéréssont ici à modéliser sur 9 semaines (63 jours) le nombre d'infections à la COVID-19 en France i.e. le nombre de cas (nouveaux cas ou nombre de personnes infectées à l'instant t). Les modèles sont appliqués sur 6 semaines dans le passé et 3 semaines dans le future pour pouvoir juger de la pertinence des différentes modelisations</p>
    </mat-card-content>
  </mat-card>
</a>


<a (click)="goTo('vaccinations')">
  <mat-card class="cardElement">
    <mat-card-content>
        <h3 class="titre">Modélisation des vaccinations</h3>  
        <img class="arrow" src="assets/images/right-chevron.png/">
        <p class="text" classe="content">Nous nous intéréssont ici à modéliser sur 9 semaines (63 jours) le nombre d'injections vaccinales contre la COVID-19 en France (première et deuxième dose confondus). Les modèles ne présentent donc pas le nombre de personne vaccinées mais le nombre de dose injectées. Les modèles sont appliqués sur 6 semaines dans le passé et 3 semaines dans le future pour pouvoir juger de la pertinence des différentes modelisations</p>
    </mat-card-content>
  </mat-card>
</a>