<a (click)="goTo('infections')">
  <mat-card class="cardElement">
    <mat-card-content>
      <h3 class="titre">Modélisation des infections</h3>
      <img class="arrow" src="assets/images/right-chevron.png/">
      <br><br>
      <p class="text">Dans cette section se trouve des modélisations sur 9 semaines (63 jours) du nombre d'infections à
        la COVID-19 en France. On y retrouve le nombre de cas par jour, la proportion de personnes contaminées à un
        instant donné et le cumul des infectés depuis le début de l'épidémie. Les modèles sont appliqués sur 6 semaines
        dans le passé et 3 semaines dans le futur pour pouvoir juger de la pertinence des différents modèles.</p>
    </mat-card-content>
  </mat-card>
</a>


<a (click)="goTo('vaccinations')">
  <mat-card class="cardElement">
    <mat-card-content>
      <h3 class="titre">Modélisation des vaccinations</h3>
      <img class="arrow" src="assets/images/right-chevron.png/">
      <br><br>
      <p class="text">Dans cette section se trouve des modélisations sur 9 semaines (63 jours) du nombre d'injections
        vaccinales contre la COVID-19 en France. Pour le moment, on y retrouve seulement le nombre de nouvelles
        premières injections et le cumul de ces dernières depuis le début des vaccinations. Les modèles sont appliqués
        sur 6 semaines dans le passé et 3 semaines dans le futur pour pouvoir juger de la pertinence des différents
        modèles.</p>
    </mat-card-content>
  </mat-card>
</a>