<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Dates clés</mat-card-title>
        <mat-card-subtitle>Données reflétant la situation actuelle</mat-card-subtitle>
      </div>
    </div>
    <!-- Ligne 1 -->
    <div class="m-t-30" fxLayout="row" fxLayoutWrap="wrap">
      <div class="eltActualData" fxFlex="100" fxFlex.gt-sm="33,33%" fxFlex.gt-xs="33,33%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesLivraisonsNombreDosesPfizer}}</h3>
        <p>Livraisons de doses Pfizer<br>(sur la semaine)</p>
      </div>
      <div class="eltActualData" fxFlex="100" fxFlex.gt-sm="33,33%" fxFlex.gt-xs="33,33%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesPremieresInjections}}</h3>
        <p style="font-size: 14px;"><strong>Nouvelles premières injections</strong></p>
      </div>
      <div class="eltActualData" fxFlex="100" fxFlex.gt-sm="33,33%" fxFlex.gt-xs="33,33%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesLivraisonsNombreDosesModerna}}</h3>
        <p>Livraisons de doses Moderna<br>(sur la semaine)</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div fxLayout="row wrap">
  <div *ngIf="modele === '' || modele === undefined" fxFlex="100" fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100">
    <app-modele-lineaire [categorie]="categorie"></app-modele-lineaire>
  </div>
  <div *ngIf="modele == 'svir'" fxFlex="100" fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100">
    <app-modele-svir></app-modele-svir>
  </div>
  <div *ngIf="modele == 'ml'" fxFlex="100" fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100">
    <app-modele-machine-learning [categorie]="categorie"></app-modele-machine-learning>
  </div>
</div>
