<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Aujourd'hui</mat-card-title>
        <mat-card-subtitle>Données reflétant la situation actuelle</mat-card-subtitle>
      </div>
    </div>

    <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
      <div fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex="100">
        <h3 class="m-0 font-light">?</h3>
        <small>Cas</small>
      </div>
      <div fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex="100">
        <h3 class="m-0 font-light">?</h3>
        <small>Décès</small>
      </div>
      <div fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex="100">
        <h3 class="m-0 font-light">?</h3>
        <small>Hospitalisations</small>
      </div>
      <div fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex="100">
        <h3 class="m-0 font-light">?</h3>
        <small>Réanimations</small>
      </div>
      <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="20%" fxFlex="100">
        <h3 class="m-0 font-light">?</h3>
        <small>Vaccinations</small>
      </div>
    </div>
  </mat-card-content>
</mat-card>
