<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <!-- Faire pareil pour les jours précédents en cliquant sur une flèche de gauche -->
        <mat-card-title>Aujourd'hui</mat-card-title>
        <mat-card-subtitle>Données reflétant la situation actuelle</mat-card-subtitle>
      </div>
    </div>

    <div class="m-t-30" fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.casConfirmes}}</h3>
        <small>Cas</small>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.deces}}</h3>
        <small>Décès</small>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesHospitalisations}}</h3>
        <small>Hospitalisations</small>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesReanimations}}</h3>
        <small>Réanimations</small>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesPremieresInjections}}</h3>
        <small>Vaccinations</small>
      </div>
    </div>
  </mat-card-content>
</mat-card>