<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>
          <button id="goOneDayBefore" (click)="goOneDayBeforeOrAfter(-1)"
            [disabled]="isGoingBackPossible() == false"><img src="assets/images/left-chevron.png" /></button>
          {{titre}}
          <button id="goOneDayAfter" (click)="goOneDayBeforeOrAfter(1)" [disabled]="isGoingAfterPossible() == false"
            *ngIf="dateDonneesAffichees < DATE_JOUR"><img src="assets/images/right-chevron.png" /></button>
        </mat-card-title>
        <mat-card-subtitle>{{sousTitre}}</mat-card-subtitle>
      </div>
    </div>

    <div class="m-t-30 actual-data" fxLayout="row" fxLayoutWrap="wrap">
      <div class="l1" fxFlex="100" fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
        <h3 class="m-0 font-medium">+ {{currentSituationReelle.nouveauxCasConfirmes}}</h3>
        <p class="legende">Nouvelles infections</p>
      </div>
      <div class="l1" fxFlex="100" fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
        <h3 class="m-0 font-medium">+ {{currentSituationReelle.nouveauxDeces}}</h3>
        <p class="legende">Nouveaux décès</p>
      </div>
      <div class="l1" fxFlex="100" fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
        <h3 class="m-0 font-medium">+ {{currentSituationReelle.nouvellesHospitalisations}}</h3>
        <p class="legende">Nouvelles hospitalisations</p>
      </div>
      <div class="l1" fxFlex="100" fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
        <h3 class="m-0 font-medium">+ {{currentSituationReelle.nouvellesReanimations}}</h3>
        <p class="legende">Nouvelles réanimations</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>