<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <!-- Faire pareil pour les jours précédents en cliquant sur une flèche de gauche -->
        <mat-card-title>
          {{donneesJourTitle}}
          <button id="goOneDayBefore" (click)="goOneDayBeforeOrAfter(-1)" [disabled]="isGoingBackPossible() == false"><img src="assets/images/left-chevron.png"/></button>
          <button id="goOneDayAfter" (click)="goOneDayBeforeOrAfter(1)" [disabled]="isGoingAfterPossible() == false"><img src="assets/images/right-chevron.png"/></button>        
        </mat-card-title>
        <mat-card-subtitle>Données reflétant la situation actuelle</mat-card-subtitle>
      </div>
    </div>

    <div class="m-t-30 actual-data" fxLayout="row" fxLayoutWrap="wrap">
      <div class="l1" fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouveauxCasConfirmes}}</h3>
        <p>Cas</p>
      </div>
      <div class="l1" fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouveauxDeces}}</h3>
        <p>Décès</p>
      </div>
      <div class="l1" fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesHospitalisations}}</h3>
        <p>Hospitalisations</p>
      </div>
      <div class="l1" fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesReanimations}}</h3>
        <p>Réanimations</p>
      </div>
      <div class="l1" fxFlex="100" fxFlex.gt-sm="20%" fxFlex.gt-xs="20%">
        <h3 class="m-0 font-light">{{currentSituationReelle.nouvellesPremieresInjections}}</h3>
        <p>Vaccinations</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>