<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100">
    <app-actual-data [currentSituationReelle]="currentSituationReelle"></app-actual-data>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100">
    <app-actual-graph [allCasParJour]="allCasParJour"></app-actual-graph>
  </div>
</div>
<mat-card>
  <mat-card-content>
    <h3>Contexte</h3>
    <p class="text">Ce travail a été conduit de le cadre du cours d'architectures logicielles et web de M1 MIAGE à
      l'univeristé Paris 1 Panthéon-Sorbonne. </p>
    <h3>Objectifs</h3>
    <p class="text">Cette réalisation a vu le jour pour fournir un accès aux données épidémiques de la COVID-19 en
      France à travers des représentations graphiques de données statistiques, ainsi qu'à l'aide d'une API en accès
      libre alimentée quotidiennement. Par ailleurs, nous avons souhaité établir et comparer différentes modélisations
      produites grâce aux indicateurs d'infections et de vaccinations.</p>
    <h3>Technologies</h3>
    <p class="text">Ce projet est composé d'une API (Spring-boot), d'un batch (Spring-batch) quotidien de récupération
      et de qualification <a
        href="https://www.data.gouv.fr/fr/datasets/donnees-relatives-a-lepidemie-de-covid-19-en-france-vue-densemble/#_">des
        données gouvernementales</a>, d'un batch de calcul quotidien des modélisations et d'une applicaiton web (Angular
      11) sur laquelle vous naviguez. Pour plus d'informations techniques rendez-vous sur notre <a
        href="https://github.com/CovidModelizer">github</a>.</p>
  </mat-card-content>
</mat-card>