<mat-card *ngFor="let contrib of contributeurs" fxFlex.gt-sm="100%" fxFlex.gt-xs="100%"
    class="oh text-center little-profile">
    <img mat-card-image src="assets/images/Background 1.jpg" alt="background-image">
    <mat-card-content>
        <div class="pro-img">
            <img src="{{contrib.lien_photo}}" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">{{contrib.prenom}} <br> {{contrib.nom}}</h3>
        <br>
        <h4 class="m-t-0 poste_projet">Contributions : <br> {{contrib.poste_projet}}</h4>
        <br>
        <br>
        <div class="m-t-30 actual-data" fxLayout="row" fxLayoutWrap="wrap">
            <div class="logo1" fxFlex="100" fxFlex.gt-sm="45%" fxFlex.gt-xs="45%">
                <a href="{{contrib.lien_github}}">
                    <img class="github-logo" src="assets/images/github.png" />
                </a>
            </div>
            <div class="logo2" fxFlex="100" fxFlex.gt-sm="45%" fxFlex.gt-xs="45%">
                <a href="{{contrib.lien_linkedin}}">
                    <img class="linkedin-logo" src="assets/images/contributeurs-linkedin.png" />
                </a>
            </div>
        </div>
        <div>
            <br>
            <h3 class="m-0 font-light">{{contrib.parcours_univ_actuel}}</h3>
            <br>
            <!--
            <hr>
            <h3 class="m-0 font-light poste_pro">{{contrib.poste_pro}}</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">{{contrib.specialisations}}</h3>
            -->
        </div>
    </mat-card-content>
</mat-card>