.github-logo {
  width: 50px;
}

.linkedin-logo {
  width: 100px;
}

.logo1 {
  text-align: right;
}

.logo2 {
  text-align: left;
}

.poste_projet {
  height: 30px;
}

.poste_pro {
  height: 75px;
}
