<mat-card  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="oh text-center little-profile">
    <img mat-card-image src="assets/images/Background 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/Abdel.jpeg" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">Abdel<br>Benamara</h3>
        <h6 class="m-t-0 ">Data Scientist &amp; Développeur FullStack</h6>
        <mat-card-actions>
            <button mat-raised-button color="warn" >Github</button>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-raised-button color="warn">LinkedIn</button>
        </mat-card-actions>
        <div>
            <br>
            <h3 class="m-0 font-light">MIAGE Paris 1 APP</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Apprenti innovation Analyst chez BNP Paribas</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Certifié Stanford Machine Learning</h3>
        </div>
    </mat-card-content>
</mat-card>

<mat-card fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="oh text-center little-profile">
    <img mat-card-image src="assets/images/Background 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/David.PNG" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">David<br>Ekchajzer</h3>
        <h6 class="m-t-0 ">Développeur FullStack &amp; Infogérant</h6>
        <mat-card-actions>
            <button mat-raised-button color="warn">Github</button>
        </mat-card-actions>
        <div>
            <br>
            <h3 class="m-0 font-light">MIAGE Paris 1 APP</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Apprenti chargé de projet à OMC</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Spécialisation Numérique Responsable</h3>
        </div>
    </mat-card-content>
</mat-card>

<mat-card  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="oh text-center little-profile">
    <img mat-card-image src="assets/images/Background 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/Mathieu.jpeg" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">Mathieu<br>Ridet</h3>
        <h6 class="m-t-0 ">Développeur FullStack &amp; Chargé de projet front</h6>
        <mat-card-actions>
            <button mat-raised-button color="warn">Github</button>
        </mat-card-actions>
        <div>
            <br>
            <h3 class="m-0 font-light">MIAGE Paris 1 APP</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Apprenti Développeur FullStack chez Covea</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Spring Batch - Angular</h3>
        </div>
    </mat-card-content>
</mat-card>

<mat-card fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" class="oh text-center little-profile">
    <img mat-card-image src="assets/images/Background 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/Sophia.jpeg" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">Sophia<br>Yalap</h3>
        <h6 class="m-t-0 ">Data Scientist &amp; Développeuse FullStack</h6>
        <mat-card-actions>
            <button mat-raised-button color="warn">Github</button>
        </mat-card-actions>
        <div>
            <br>
            <h3 class="m-0 font-light">MIAGE Paris 1 APP</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Apprentie Chef de projet Data & Intelligence Artificielle chez Saint-Gobain</h3>
            <br>
            <hr>
            <h3 class="m-0 font-light">Certifiée Stanford Machine Learning</h3>
        </div>
    </mat-card-content>
</mat-card>
