<mat-card *ngFor="let contrib of contributeurs" class="oh text-center little-profile" fxFlex.gt-sm="100%"
          fxFlex.gt-xs="100%">
  <img alt="background-image" mat-card-image src="assets/images/Background 1.jpg">
  <mat-card-content>
    <div class="pro-img">
      <img alt="user" class="img-circle" src="{{contrib.lienPhoto}}" width="100">
    </div>
    <h3 class="m-b-0">{{contrib.prenom}}<br>{{contrib.nom}}</h3>
    <br>
    <h4 class="m-t-0 poste_projet">Contributions :
      <br>{{contrib.posteProjet.split('&')[0]}}
      <br>&
      <br>{{contrib.posteProjet.split('&')[1]}}
    </h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="m-t-30 actual-data" fxLayout="row" fxLayoutWrap="wrap">
      <div class="logo1" fxFlex="100" fxFlex.gt-sm="45%" fxFlex.gt-xs="45%">
        <a href="{{contrib.lienGithub}}">
          <img class="github-logo" src="assets/images/github.png"/>
        </a>
      </div>
      <div class="logo2" fxFlex="100" fxFlex.gt-sm="45%" fxFlex.gt-xs="45%">
        <a href="{{contrib.lienLinkedin}}">
          <img class="linkedin-logo" src="assets/images/contributeurs-linkedin.png"/>
        </a>
      </div>
    </div>
    <div>
    </div>
  </mat-card-content>
</mat-card>
