<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container">
  <!-- ============================================================== -->
  <!-- Begin Topbar - style you can find in header.scss -->
  <!-- ============================================================== -->
  <mat-toolbar class="topbar">
    <!-- ============================================================== -->
    <!-- Logo - style you can find in header.scss -->
    <!-- ============================================================== -->

    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <!-- Logo icon -->
        <b>
          <!-- Dark Logo icon -->
          <img alt="homepage" class="dark-logo" src="assets/images/logo-icon.png">
          <!-- Light Logo icon -->
          <img alt="homepage" class="light-logo" src="assets/images/logo-light-icon.png">
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span fxShow="false" fxShow.gt-xs>
                  <p style="color: white">Covid Modelizer</p>
                </span>
      </a>
    </div>

    <!-- ============================================================== -->
    <!-- sidebar toggle -->
    <!-- ============================================================== -->

    <button (click)="snav.toggle()" mat-icon-button style="color: white" value="sidebarclosed">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>

    <mat-panel-title style="color: white; padding-right: 600px;">{{titrePage}}</mat-panel-title>

    <!-- ============================================================== -->
    <!-- End App Header component - style you can find in header.scss / header.component.ts-->
    <!-- ============================================================== -->
    <app-header [titrePage]="titrePage"></app-header>

  </mat-toolbar>
  <!-- ============================================================== -->
  <!-- End Topbar - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 0 : 0" class="example-sidenav-container">
    <!-- ============================================================== -->
    <!-- Begin Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #snav [disableClose]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'side' : 'over'"
                 [opened]="mobileQuery.matches"
                 class="dark-sidebar pl-xs" fixedTopGap="0" id="snav">
      <app-sidebar (parentFunction)="setTitrePage($event)"></app-sidebar>
    </mat-sidenav>
    <!-- ============================================================== -->
    <!-- End Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Begin Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="page-wrapper">
      <div class="page-content">
        <router-outlet>
          <app-spinner></app-spinner>
        </router-outlet>
      </div>
    </mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- End Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
  </mat-sidenav-container>
</div>
